@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --muted: #f0f0f0;
  --border: var(--color-neutral-300);

  --primary: #fa5700;
  --secondary: #f7ebb5;
  --accent: #e8a033;

  --greeny: #3ab083;
  --info: var(--color-blue-600);

  --heading: 'Montserrat', sans-serif;
  --body: 'Inter', sans-serif;

  --font-logo: 'Chewy', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-greeny: var(--greeny);
  --color-info: var(--info);

  --font-heading: var(--heading);
  --font-body: var(--body);

  --font-logo: var(--font-logo);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
